 <h1>Cadastro de vendas</h1>
    <div class="formulario">
        <table>
            <form action="/add-venda" method="post">

            <tr>
                <td><label>Nome Vendedor: </label></td>
                <td><input type="text" name="nomeFunc" id="nomeFunc"></td>
            </tr>
            <tr>
                <td><label>Valor da Venda: </label></td>
                <td><input type="text" name="valorVenda" id="valorVenda"></td>
            </tr>
            <tr>
                <td colspan="2"><button class="btn" onclick="adicionar()">Adicionar</button></td>
            </tr>
        </form>
            <tr>
                <td colspan="2"><a href="/limpar-tabela-vendas" onclick="limpar()"><button class="btn">Limpar</button></a></td>
            </tr>
        </table>
    </div>
        
        
    <div id="lista">
        <table class="list">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Valor</th>
                <th>Desconto</th>
                <th>Apagar</th>
                <th>Alterar</th>
            </tr>
            {{#each vendas}}
                <tr>
                    <td>{{idFunc}}</td>
                    <td>{{nomeFunc}}</td>
                    <td>R$ {{valorVenda}}</td>
                    <td>R$ {{desconto}}</td>
                    <td>
                        <a href="/del-venda/{{idFunc}}" onclick="apagar()"><button class="btn apagar" id="btnApagar" >Apagar</button>
                        </a>
                    </td>
                    <td><a href="/editar-venda/{{idFunc}}"><button class="btn alterar">Alterar</button></a></td>
                </tr>
            {{/each}}
        </table>
    </div>

    <script src="/public/script/cadastro-vendas.js"></script>